<% @title = "Article" %>

<div class="article_container">
  <article class="main_article">
    <h1 class="article_title">
      <%= "#{@articles[7]}" %>
    </h1>
    <p class="main_article_text">
      <%= File.read("../articles/#{@articles[7]}") %>
    </p>
    <a class="return_button" href="./index.html">
      <h2 class="return_text">Return</h2>
    </a>
  </article>
</div>
