<% @title = "Hubble" %>

<div class="article_container">
  <div class="visual_article">
    <div class="visual_article_image hubble_image">
  </div>
  <div class="visual_article_text">
    <h1 class="article_title">
      Hubble
    </h1>
    <p class="main_article_text">
      The Hubble Space Telescope (HST) is a space telescope that was launched into low Earth orbit in 1990 and remains in operation. Although not the first space telescope, Hubble is one of the largest and most versatile, and is well known as both a vital research tool and a public relations boon for astronomy. The HST is named after the astronomer Edwin Hubble, and is one of NASA's Great Observatories, along with the Compton Gamma Ray Observatory, the Chandra X-ray Observatory, and the Spitzer Space Telescope.

      With a 2.4-meter (7.9 ft) mirror, Hubble's four main instruments observe in the near ultraviolet, visible, and near infrared spectra. Hubble's orbit outside the distortion of Earth's atmosphere allows it to take extremely high-resolution images, with substantially lower background light than ground-based telescopes. Hubble has recorded some of the most detailed visible light images ever, allowing a deep view into space and time. Many Hubble observations have led to breakthroughs in astrophysics, such as accurately determining the rate of expansion of the universe.
    </p>
    <a class="return_button" href="./index.html">
      <h2 class="return_text">Return</h2>
    </a>
  </div>
</div>