<% @title = "Startsida" %>

<div class="image_slide">
    <div class="image" id="slide">
    </div>
    <img src="./img/left_arrow.png" onclick="change_left()" alt="left arrow" class="left_arrow">
    <img src="./img/right_arrow.png" onclick="change_right()" alt="right arrow" class="right_arrow">
    <div class="image_title_container">
      <h1 class="image_title" id="title">The Space</h1>
    </div>

</div>

<div class="summary_grid_container">
  <div class="summary_grid">
    <a href="article.html" class="article_link">
    <div class="summary_box">
      <h3 class="summary_title">Spaaaaace</h3>
      <div class="line"></div>
      <p class="summary_text">Recurring slope lineae (RSL) are seasonal flows on warm slopes, and are especially common in central and eastern Valles Marineris, as seen in this observation by NASA's Mars Reconnaissance Orbiter (MRO).
      </div>
      </a>
    <div class="summary_box">
      <h3 class="summary_title">Nytt liv</h3>
      <div class="line"></div>
      <p class="summary_text">Inte bara har vi hittat liv, vi har hittat livs.</p>
    </div>
    <div class="summary_box first_long_image">
      <h3 class="summary_image_title">JWT</h3>
    </div>
    <div class="summary_box">
      <h3 class="summary_title">Wow New!</h3>
      <p class="summary_text">The new was new. Vad fint hahaha. Detta är inte en särskilt viktig nyhet. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div class="summary_box">
      <h3 class="summary_title">Space</h3>
      <div class="line"></div>
      <p class="summary_text">Space is the boundless three-dimensional extent in which objects and events have relative position and direction. Physical space is often conceived in three linear dimensions.</p>
    </div>
    <div class="summary_box second_long_image">
      <h3 class="summary_image_title">Hubble</h3>
    </div>
    <div class="summary_box">
      <h3 class="summary_title">Planet</h3>
      <div class="line"></div>
      <p class="summary_text">Planets are generally divided into two main types: large low-density giant planets, and smaller rocky terrestrials. Under IAU definitions, there are eight planets in the Solar System.</p>
    </div>
    <div class="summary_box">
      <h3 class="summary_title">Rockets</h3>
      <div class="line"></div>
      <p class="summary_text">A rocket is a missile, spacecraft, aircraft or other vehicle that obtains thrust from a rocket engine. Rocket engine exhaust is formed entirely from propellant carried within the rocket before use.</p>
    </div>
    <div class="summary_box">
      <h3 class="summary_title">The Sun</h3>
      <div class="line"></div>
      <p class="summary_text">The Sun is the star at the center of the Solar System. It is a nearly perfect sphere of hot plasma, with internal convective motion that generates a magnetic field via a dynamo process.</p>
    </div>
    <div class="summary_box">
      <h3 class="summary_title">The Milky Way</h3>
      <div class="line"></div>
      <p class="summary_text">The Milky Way is the galaxy that contains our Solar System. The descriptive "milky" is derived from the appearance from Earth of the galaxy.</p>
    </div>
  </div>
</div>
