<% @title = "Startsida" %>

<div class="image_slide">
  <div class="image" id="slide">
  </div>
  <img src="./img/left_arrow.png" onclick="change_left()" alt="left arrow" class="left_arrow">
  <img src="./img/right_arrow.png" onclick="change_right()" alt="right arrow" class="right_arrow">
  <a class="image_link" href="article1.html" id="image_link"></a>
  <div class="image_title_container">
    <h1 class="image_title" id="title">The Space</h1>
  </div>
</div>

<div class="summary_grid_container">
  <div class="summary_grid">
    <% @articles.each_with_index do |article,article_index| %>
      <% if article_index == 2 %>
        <div class="summary_box first_long_image">
          <h3 class="summary_image_title">JWT</h3>
        </div>
      <% elsif article_index == 4 %>
        <div class="summary_box second_long_image">
          <h3 class="summary_image_title">Hubble</h3>
        </div>
      <% end %>
      <%= "<a href='article#{article_index}.html' class='article_link'>" %>
        <div class="summary_box">
          <%= "<h3 class='summary_title'>#{article}</h3>"%>
          <div class="line"></div>
          <p class="summary_text">
            <% file = File.open("../articles/#{article}", mode="r") %>
            <%= "#{file.read(160)}..." %>
          </p>
        </div>
      </a>
    <% end %>
  </div>
</div>
