<% @title = "JWST" %>

<div class="article_container">
  <div class="visual_article">
    <div class="visual_article_image jwst_image">
  </div>
  <div class="visual_article_text">
    <h1 class="article_title">
      JWST
    </h1>
    <p class="main_article_text">
      The James Webb Space Telescope (JWST), previously known as Next Generation Space Telescope (NGST), is a part of NASA's ongoing Flagship program and developed in cooperation with the European Space Agency and Canadian Space Agency. It is under construction and scheduled to launch in October 2018. The JWST will offer unprecedented resolution and sensitivity from long-wavelength (orange-red) visible light, through near-infrared to the mid-infrared (0.6 to 27 micrometers). While the Hubble Space Telescope has a 2.4-meter (7.9 ft) mirror, the JWST features a larger and segmented 6.5-meter-diameter (21 ft 4 in) primary mirror and will be located near the Earth–Sun L2 point. A large sunshield will keep its mirror and four science instruments below 50 K (−220 °C; −370 °F).

      JWST's capabilities will enable a broad range of investigations across the fields of astronomy and cosmology. One particular goal involves observing some of the most distant events and objects in the Universe, such as the formation of the first galaxies.
    </p>
    <a class="return_button" href="./index.html">
      <h2 class="return_text">Return</h2>
    </a>
  </div>
</div>